<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<title>扫码登录</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
		<style>
			#qr{
				width: 350px;
				height: 350px;
			}
		</style>
	</head>
	<body>
		<div class="row" style=" margin-top: 50px;">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="center-block" style="width:450px;">
					<div style="width:360px;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4" style="height: 34px;line-height: 34px" >
                                推送的微信群
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type="text"  id="group_name" value="地下党·~~"   class="form-control">
                            </div>
                        </div>
					</div>
				</div>
				<div class="center-block" style="width:450px; margin-top: 20px;">
					<div style="width:360px;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4" style="height: 34px;line-height: 34px" >
                                任务定时时间
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8" >
						        <input type="text" id="datepicker" class="form-control">
                            </div>
                        </div>

						<!--<input type="text" class="form-control" id="date_time" placeholder="任务定时时间"> -->
					</div>
                    <div style="width:360px;margin-top: 20px">
                         <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4" style="height: 34px;line-height: 34px" >
                                推送內容
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8" >
						        <input type="text" id="send_message" class="form-control">
                            </div>
                        </div>
						<!--<input type="text" class="form-control" id="date_time" placeholder="任务定时时间"> -->
					</div>
				</div>
                <div class="center-block"  style="width:450px;margin-top: 20px">
                    <div style="width:360px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="height: 34px;line-height: 34px" >
                            推送文件
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8" >
                            <input type="file" name="dayreport" id="dayreport">
                        </div>
                    </div>
                </div>
                </div>
				<div class="center-block" style="width:450px;margin-top: 20px">
					<button id="btnSubmit" style="width:360px;" class="btn btn-success btn-lg" data-loading-text="Loading..." type="button">
						提交日报
					</button>
				</div>
				<div class="center-block" style="width:450px;margin-top: 20px">
					<button id="get_qr" style="width:360px;" class="btn btn-success btn-lg" data-loading-text="Loading..." type="button">
						获取二维码
					</button>
				</div>
				<div class="center-block" style="width:450px;margin-top: 20px">
					<button id="login" style="width:360px;" class="btn btn-success btn-lg" data-loading-text="Loading..." type="button">
						登录
					</button>
				</div>

			</div>
			<div class="col-lg-6 col-md-6 col-sm-6center-block">
				<div class="center-block">
					<img id="qr" />
				</div>
			</div>
		</div>
	</body>
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link href="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(function() {
			$("#datepicker").datetimepicker({

				dateFormat: "yy-mm-dd",
				showSecond: true,
				timeFormat: 'HH:mm:ss',


			});
		});

		$('#get_qr').click(function() {
			$('#qr').attr('src', '/send/?random=' + Math.random())
		});
		$("#login").click(function() {
			alert('test');
			$.get("/login/", function(data) {

			})
		});

		$("#btnSubmit").click(function() {
			var datetime = $('#datepicker').val();
			if (datetime == '') {
				alert('请选择时间');
				return false
			}
			var groupname = $('#group_name').val();
			var sendmessage = $('#send_message').val();
			var formData = new FormData();
			formData.append("file_name", $("#dayreport")[0].files[0]);
			formData.append("date_time", datetime);
			formData.append("group_name",groupname);
			formData.append("send_message",sendmessage);

			$.ajax({
				url: '/setdate/',
				/*接口域名地址*/
				type: 'post',
				data: formData,
				contentType: false,
				processData: false,
				success: function(res) {
					{#debugger#}
					console.log(res);
					if (res["code"] == 0) {
						alert('成功');
					} else {
						console.log(res);
					}
				}
			})

		})
	</script>
</html>
